<!DOCTYPE html>
<html>
    <head>
      <title>My Blog App</title>
      <link rel="stylesheet" type="text/css " href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
      <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css " href="/stylesheets/app.css"> 
    </head>

    <body>
        <div class="ui grey three item inverted menu" id="navbar">
            <a class="item"><i class="book icon"></i>
              Blog
            </a>
            <a class="item active" href="/blogs">
              Home
            </a>
            <a class="item" href="/blogs/new">
              New Post
            </a>
          </div>

