<% include ./partials/header.ejs %>

<div id="newForm" class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div>
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div>
            <label>Blog Content</label>
            <textarea name="blog[body]" placeholder="body"></textarea>
        </div> 
        <input class="ui brown button" id="button" type="submit">
    </form>
</div>

<% include ./partials/footer.ejs %>